@import "tailwindcss";

@font-face {
  font-family: "Whisper";
  src: url("/fonts/WhisperMono-VAR.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ortank";
  src: url("/fonts/OrtankHangeul_VAR.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arvana";
  src: url("/fonts/Arvana-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@theme inline {
  /* Colors*/
  --color-light-gray: #f2f2f2;
  --color-medium-gray: #c9c9c9;
  --color-dark-gray: #343434;

  /* Fonts  */
  --font-whisper: "Whisper", monospace;
  --font-ortank: "Ortank", sans-serif;
  --font-arvana: "Arvana", sans-serif;

  /* Shadows */
  --shadow-button: 3px 3px 0 0 #000;
  --shadow-button-hover: 7px 7px 0 -4px #000;
  --shadow-medium-gray: 3px 3px 0 0 #c9c9c9;
}

/* Button shadow classes */
.button-shadow {
  box-shadow: var(--shadow-button);
}

.button-shadow:hover {
  box-shadow: var(--shadow-button-hover) !important;
}

/* Medium gray shadow class */
.shadow-medium-gray {
  box-shadow: var(--shadow-medium-gray);
}

.section-title {
  font-family: var(--font-ortank);
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.gradient-header {
  background: linear-gradient(
    180deg,
    #fff8e8 29.33%,
    #f2f2f2 100%
  );
}

body {
  background: var(--color-light-gray);
  color: #000000;
  max-width: 100vw;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}
