@import "tailwindcss";

@font-face {
  font-family: "Whisper";
  src: url("/fonts/WhisperMono-VAR.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ortank";
  src: url("/fonts/OrtankHangeul_VAR.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f2f2f2;
  --foreground: #343434;
  --font-whisper: "Whisper", monospace;
  --font-ortank: "Ortank", sans-serif;
  --shadow-button: 3px 3px 0 0 #000;
  --shadow-button-hover: 7px 7px 0 -4px #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-whisper: "Whisper", monospace;
  --font-ortank: "Ortank", sans-serif;
  --shadow-button: 3px 3px 0 0 #000;
  --shadow-button-hover: 7px 7px 0 -4px #000;
}

/* Button shadow classes */
.button-shadow {
  box-shadow: var(--shadow-button);
}

.button-shadow:hover {
  box-shadow: var(--shadow-button-hover) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f2f2f2;
  color: #000000;
  max-width: 10ovw;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}
